.tracker-block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.tracker-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.tracker-form:hover{
    box-shadow: 0px 0px 2px black;
}

.tracker-form-input{
    padding: 5px;
    margin: 10px;
    font-size: 20px;
}

.tracker-item{
    margin-left: 10px;
    font-size: 18px;
}

.btn-add-task{
    border-radius: 5px;
    background-color: rgb(14, 199, 85);
    color: white;
    border: none;
    box-shadow: 0 0 3px black;
}

.btn-add-task:hover{
    box-shadow: 0 0 6px black;
}