.nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(34, 34, 243);
    box-shadow: 0px 5px 10px rgb(34, 34, 243);
}

.nav-item {
    text-decoration: none;
    color: black;
    font-weight: bold;
}